@keyframes run{
	0%{
		top: 0px;
		left: 0px;
	}
	16%{
		top: 35%;
    	left: 40%;
    	transform: rotate(360deg);
	}
	32%{
		top: 0%;
		left: 82%;
		transform: rotate(-360deg);
	}
	48%{
		top: 66%;
		left: 82%;
		transform: rotate(360deg);
	}
	64%{
		top: 35%;
    	left: 40%;
    	transform: rotate(-360deg);
	}
	80%{
		top: 66%;
		left: 0%;
		transform: rotate(360deg);
	}
	100%{
		top: 0px;
		left: 0px;
		transform: rotate(-360deg);
	}
}

.football-mart{
	width: 80%;
	height: 600px;
	margin: 50px auto;
	border: 1px solid red;
	position: relative;
}
.football{
	width: 200px;
	height: 200px;
	position: absolute;
	animation: run 20s infinite linear;
}
.football img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}