/* common code start */
.container{
	width: 80%;
	margin: 0px auto;
	border: 1px solid red;
	box-sizing: border-box;
}
body{
	margin: 0px;
}
.float-left{
	float: left;
	border: 1px solid teal;
	box-sizing: border-box;
	height: 100%;
}
.w-25{
	width: 25%;
}
.w-50{
	width: 50%;
}
.w-75{
	width: 75%;
}
.w-100{
	width: 100%;
}
/* common code end */

/* header section start */
header{
	height: 200px;
}
/* logo start */
.logo{
	
}
/* logo end */
/* banner start */
.banner{
	
}
/* banner end */
/* header section end */

/* nav section start */
nav{
	height: 60px;
}
/* nav section end */

/* main section start */
main{
	height: 600px;
}
/* aside start */
aside{
	
}
/* aside end */
/* article start */
article{
	
}
/* article end */
/* main section end */

/* top-footer section start */
.top-footer{
	height: 200px;
}
/* child-content start */
.child-content{
	
}
/* child-content end */
/* top-footer section end */

/* footer section start */
footer{
	height: 50px;
}
/* footer section end */